{% extends "base/base.html" %}

{% block head %}
<style>
    .answer-box {
        width: 775px;
        height: 230px;
        resize: none;
        direction: ltr;
    }
</style>
{% endblock %}

{% block body %}
<div class="questions">
    {% for q in question %}
        {% for qr in q.replace("'", "").split(",") %}
            <p>{{ qr }}</p>
        {% endfor %}
    {% endfor %}
</div>

<div class="send-answer">
    <div class="hr"></div>
    <div class="form">
        <p>جواب : <button class="send-btn" id="send-btn" onclick="javascript:check_send_answer();">ارسال</button> سوال <span class="start" id="start">1</span> از 3</p>
        <form action="/submit" method="post">
            <textarea name="" id="" class="answer-box en"></textarea>
        </form>
    </div>
</div>

<script src="/static/js/start.js"></script>
{% endblock %}