{% extends "base/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/static/css/index.css">
{% endblock %}

{% block body %}

{% if session.login == False %}
    <div class="login-box right">
        <h4>برای بازی کردن باید<br>حساب کاربری داشته باشید.</h4>
        <div class="login-form right">
            <form action="/register" method="post">
                <input type="text" placeholder="نام کاربری" name="username" id="input" required>
                <br>
                <input type="text" placeholder="ایمیل" name="email" id="input" required>
                <br>
                <input type="password" placeholder="رمز" name="password" id="input" required>
                <br>
                <input type="password" placeholder="تکرار رمز" name="repeat_password" id="input" required>
                <br>
                <input type="submit" value="ثبت نام" id="submit">
            </form>
            <button class="password-state" onclick="password_state();">آشکار رمز</button>
            <p style="width: 160px;">تمامی داده ها برای ورود هم صدق میکنند.</p>
        </div>
    </div>
{% endif %}

<div class="start-game">
    <h3>شروع کنید!</h3>
    <button onclick="javascript:redirect('/create')">ساخت لابی</button>
    <button onclick="javascript:redirect('/report')">گزارش مشکل</button>
    <p>اگر لابی خالی باشد، اطلاعات آن پاک میشود.</p>
</div>

<script src="/static/js/main.js"></script>

{% endblock %}